<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form role="form">
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div><br />
  <div class="field">
    <%= f.label :cardio %><br>
    <%= f.text_field :cardio %>
  </div><br />
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div><br />
  
  <%= f.submit %>
  <br />
</form>
<% end %>
